.icon {
	margin-right: 20px;
	margin-bottom: 0;
	max-width: 45px;
	margin: 7px 0 30px;
}

.icon_img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.content {
	margin-left: 1rem;
}

.content h6 {
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 0;
}

.content p {
	color: #777777;
	font-size: 16px;
	font-weight: 400
}